div#elenco-table {
    font-size: 0.8rem;
}

div[id^=opzioni] span:not([disabled]) {
    cursor: pointer;
}

div[id^=opzioni] span {
    padding: 0 2px 0 2px;
}

button.header-button {
    height: 2.5rem;
    margin-left: 0.7rem;
}

button.header-button span {
    font-weight: normal;
}