div#tabs-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
}

div#tabs-row a {
    flex-grow: 1;
    flex-basis: 20%;
    justify-content: center;
}

/* Lasciare classe, bug uikit css */
.entrypoint+.entrypoint {
    margin-top: 0 !important;
}

@media screen and (max-width: 1220px) {
    div#tabs-row {
        flex-wrap: wrap;
    }
}

/* Buttons Exporter */
.p-datatable-header,
.p-datatable-footer {
    display: flex;
    align-items: center;
}

button.export-button {
    width: 2.5rem;
    height: 2.5rem;
}

button.export-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: white;
    color: black;
}

button.font-normal {
    font-weight: normal;
}