body div a.btn.btn-outline-primary.btn-lg.entrypoint {
    justify-content: center;
    min-width: 200px;
}

div#tabsRow  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
} 

/* Lasciare classe, bug uikit css */
.entrypoint+.entrypoint {
    margin-top: 0 !important;
}

@media screen and (max-width: 1220px) {
    div#tabsRow {
        flex-wrap: wrap;
    }
}