body div a.btn.btn-outline-primary.btn-lg.entrypoint {
    justify-content: center;
    min-width: 200px;
}

div#tabsRow  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
} 

/* Lasciare classe, bug uikit css */
.entrypoint+.entrypoint {
    margin-top: 0 !important;
}

@media screen and (max-width: 1220px) {
    div#tabsRow {
        flex-wrap: wrap;
    }
}

/* Buttons Exporter */
.p-datatable-header, .p-datatable-footer {
    display: flex;
    align-items: center;
}
button.export-button {
    width: 2.5rem;
    height: 2.5rem;
}
button.export-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
/* Campi data e finestre temporali */
span[id^=data], span[id^=finestra] {
    display: block
}
span[id^=data] input.p-inputtext.p-component, 
span[id^=finestra] input.p-inputtext.p-component{
    height: 38px;
    width: 85%;
    border: 1px solid #939496;
    border-radius: 0.5rem 0 0 0.5rem;
}
span[id^=data] input.p-inputtext.p-component:focus, 
span[id^=finestra] input.p-inputtext.p-component:focus{
    border-color: #94aec2;
    box-shadow: 0 0 0 0.25rem rgb(41 92 132 / 25%);
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: white;
    color: black;
}