div#elenco-table{
    font-size: 0.8rem;
}
span#dataRichiesta, span#dataRicevuta{
    display: block
}
span#dataRichiesta input.p-inputtext.p-component, span#dataRicevuta input.p-inputtext.p-component{
    height: 38px;
    width: 100%;
    border: 1px solid #939496;
    border-radius: 0.5rem;
}
span#dataRichiesta input.p-inputtext.p-component:focus, span#dataRicevuta input.p-inputtext.p-component:focus{
    border-color: #94aec2;
    box-shadow: 0 0 0 0.25rem rgb(41 92 132 / 25%);
}